<div class="relative flex items-center justify-end h-16 mt-16 rounded-r-full max-w-1/2 bg-gradient-to-r from-medium-purple to-seance">
    <span class="absolute border-2 rounded-r-full -z-10 -bottom-2 -left-1 inset-2 "></span>
    <p class="pl-5 pr-9">Услуги</p>
</div>