@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-300.woff2') format('woff2'),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-300.woff') format('woff');
}C:\Users\krut7\OneDrive\Рабочий стол\MW\eleventy-roibee\
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-regular.woff2') format('woff2'),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-500.woff2') format('woff2'),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-500.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-600.woff2') format('woff2'),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-600.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-700.woff2') format('woff2'),
         url('..//src/_includes/assets/fonts/montserrat-v15-latin_cyrillic-ext-700.woff') format('woff');
}
