@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('/assets/fonts/MullerBlack.woff2') format('woff2'),
        url('/assets/fonts/MullerBlack.woff') format('woff');
}
