input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
border: 1px solid #FFFFFF;
-webkit-text-fill-color: #FFFFFF;
-webkit-box-shadow: 0 0 0px 1000px var(--dark) unset;
transition: background-color 5000s ease-in-out 0s;
background-color: var(--dark) !important;
}

.lozad {
	@apply transition-all opacity-0;
}

.lozad[data-loaded=true] {
	@apply opacity-100;
}

a,
label,
input,
[role=button] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Header*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100vw;
	transition: background 300ms ease,height 300ms ease,opacity 300ms ease;
	background: transparent;
	height: calc(75px + 25 var(--adaptive));
}
.header.activeheader{
	background: var(--dark);
	height: 70px;
}
.header__logo{
	min-width: 80px;
	max-height: 100px;
}
.logo__img{
	max-height: 70px;
}

.header__item{
	padding-right: 45px;
}
.header__item:last-child{
	padding-right: 0;
}
.header__nav{
	margin-left: calc(12px + 70 var(--adaptive));
}
.list__link{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 143.4%;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
	color: white;
	letter-spacing: 0.145em;
}
.list__link:hover, .list__link:active, .list__link:focus{
	opacity: .75;
}
.header__logo:hover, .header__logo:active, .header__logo:focus{
	opacity: .75;
}
/*Mobile button*/
  .menu__area {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 25vw;
	min-width:calc(100vw - 300px);
	height: 100vh;
  }
  .menu__btn {
	display: none;
	align-items: center;
	position: fixed;
	top: 20px;
	right: 20px;

	width: 26px;
	height: 26px;

	cursor: pointer;
	z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;

	width: 100%;
	height: 2px;

	background-color: white;

	transition-duration: 300ms;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
/*Mobile button*/
/*Header end*/
.main{
	background:no-repeat 5vw calc(30vh + 65px);
	@apply relative w-screen;
}
.bgpug {
	background:no-repeat 5vw 55vh;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
/*Первый слайд главной*/

.text__landing-lit{
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 143.4%;
	letter-spacing: 0.035em;
	color: #FFFFFF;
}
.monitor__block{
	margin: auto;
	background:right no-repeat;
	background-size:contain;
	padding-right: 42%;
    height: 100%;
    max-height: 526px;

}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 32px;
	border-radius: 50px;
	align-self: center;
	width:max-content;
	cursor: pointer;
	transition: box-shadow 300ms ease,opacity 300ms ease;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.145em;
}
.btn:active{
	opacity: .60;
}
.btn:disabled {
	opacity: .4 !important;
}
.btn_fiol{
	background-image: linear-gradient(180deg, var(--fiol) 0%, var(--purp) 100%);
	box-shadow: 0px 0px 4px var(--purp);
	color: white;
}
/* .btn_fiol:hover,.btn_fiol:focus{
	box-shadow: 0px 0px 6px var(--fiol);
}
.btn_fiol:active{
	box-shadow: 0px 0px 13px var(--fiol);
} */
.btn_dark{
	background: linear-gradient(180deg, #424242 0%, #171817 100%);
	border-radius: 50px;
}
.btn_dark:active{
	box-shadow: 0px 0px 13px #000000;
	opacity: .60;
}
.btn_dark:hover,.btn_dark:focus{
	box-shadow: 0px 0px 13px #000000;
}
.btn_white{
	background: linear-gradient(180deg, #FFFFFF 0%, #CCCCCC 100%);
	color: #000000;
}
.btn_white:active{
	box-shadow: 0px 0px 13px #000000;
	opacity: .60;
}
.btn_white:hover,.btn_white:focus{
	box-shadow: 0px 0px 13px #000000;
}


.btn_back{
	color:#ffffff;

}
.btn_back::after{
	content: "";
	border: 2px solid #FFFFFF;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:inherit;
}
.first__slide-btn{
	margin: 0 auto 0 0;
	position: relative;
}
.first__slide-btn:hover{
	margin: 0 auto 0 0;
	outline: 1px black;
}
.first__slide-btn:hover + .first__slide-btn::after{
	content: "";
	position: absolute;
	top: -5px;
	bottom: -5px;
	left:-5px;
	right: -5px;
	background-image: linear-gradient(180deg, var(--fiol) 0%,var(--purp) 100%);
	z-index: -1;
	border-radius: 60px;
}
.soc__icon-block > a{
	min-width: 40px;
	min-height: 40px;
	font-size: 0;
	background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
}
.soc__icon-block > *{
	margin-bottom: 26px;
}
.soc__icon-block > *:last-child{
	margin-bottom: 0;
}
.soc__icon-block > span:first-child{
	border-top-left-radius: 0;
	border-top-right-radius: 0 ;
}
.soc__icon-block > span{
	height: 100%;
    max-height: 35%;
    width: 6px;
    background: #FFFFFF;
    border-radius: 5px;
}
.soc__icon-block > a:hover{
	opacity: .75;
}
.soc__icon-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.podrobnee > p{
	font-style: normal;
	font-weight: normal;
	line-height: 143.4%;
	letter-spacing: 0.145em;
	color: #FFFFFF;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
	text-align: center;
}
.podrobnee{
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 10v;
}
.circle__btn{
	background: linear-gradient(180deg, var(--fiol2) 0%, var(--purp2) 100%);
	margin:10px auto;
	position: relative;
}
.podrobnee__btn{
	border-radius: 16px;
	width: 32px;
	height: 32px;
}
.circle__btn > span{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiPg0KPHBhdGggZD0iTTE2Ljk1NTUgNS4wODYxN0wxNS4wMTQzIDMuMTQ1MDJMOC43MjQzIDkuNDM1MDFMMi40MzQzMSAzLjE0NTAyTDAuNDkzMDkzIDUuMDg2MTdMOC43MjQzIDEzLjMxNzRMMTYuOTU1NSA1LjA4NjE3WiIgZmlsbD0id2hpdGUiLz4NCjwvZz4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJjbGlwMCI+DQo8cmVjdCB3aWR0aD0iMTYuNDYyNCIgaGVpZ2h0PSIxNi40NjI0IiBmaWxsPSJ3aGl0ZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTYuOTU1NSkgcm90YXRlKDkwKSIvPg0KPC9jbGlwUGF0aD4NCjwvZGVmcz4NCjwvc3ZnPg0K);
	@apply absolute w-full h-full bg-center bg-no-repeat;
	transition: transform 300ms ease;
	background-size: 50%;
}
/*Первый слайд главной конец*/
/*Второй слайд*/
.block__uslug-card{
	height: auto;
	padding-top: 50px;
	display: flex;
    flex-wrap: wrap;
}
.card__uslug{
	margin:26px auto ;
	max-width: 960px;
	width:100%;
	min-height: 365px;
	height:auto;
	background: linear-gradient(180deg, rgba(108, 106, 228,   0.98) 0%, rgba(122, 18, 148, 0.98) 100%);
	border-radius: 20px;
	padding:0 4.2vw;
	width: calc(100% - (15px + 25 var(--adaptive)));
}
.card__uslug:last-child{
	margin-bottom: 0;
}
.card__uslug > p {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.145em;
	color: #FFFFFF;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
	text-align: center;
	padding-top: 29px;
    height: max-content;
}
.card__uslug-flex {
	@apply flex flex-nowrap;
}
.block__img-price{
	height: auto;
	margin: 0px auto;
	max-width: 309px;
	z-index: 0;
}
.img__uslug{
    padding-top: 73%;
	background-repeat: no-repeat;
	background-size: contain;
}
.uslug__price{
	background: #FFCA42;
	border-radius: 50px;
	width: max-content;
	padding: 10px 16px;
	font-style: normal;
	font-weight: 500;
	font-size: 16.5227px;
	line-height: 143.4%;
	margin: 16px auto;
	position: relative;
}
.uslug__price::before{
	content: "";
	height: 3px;
	background-color: #FFFFFF;
	width: 150%;
    position: absolute;
    left: -25%;
    top: 50%;
	z-index: -1;
	border-radius: 3px;
}
.text__uslug {
	max-width: max-content;
	padding: 10px 0 0 32px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 143.4%;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	display: flex;
    flex-wrap: wrap;
	margin:0 auto 16px auto ;
}
.text__uslug > p {
	padding-bottom: 16px;
	width: 100%;
}

/*Конец второго слайда*/
/*Ярлыки*/
.yarlik{
	height: 64px;
	background: linear-gradient(89.88deg, var(--fiol2) -36.87%, var(--purp2) 87.66%);
	margin-top: 70px;
	max-width: 50%;
	position: relative;
	display: flex;
	align-items: center;
}
.yarlik_r{
	border-radius: 70px 0px 0px 70px;
	margin-left: auto;
	justify-content: flex-start;

}
.yarlik_l{
	border-radius:0px 70px  70px 0px;
	margin-right: auto;
	justify-content: flex-end;
}
.yarlik::before{
	content: "";
    position: absolute;
    height: 64px;
    border: 1px solid #FFFFFF;
    z-index: -1;
    top: 8px;
}
.yarlik_r::before{
    border-radius: 70px 0px 0px 70px;
    left: 8px;
	right: 0;
	border-right:0px;
}
.yarlik_l::before{
    border-radius: 0px 70px 70px 0px;
    right: 8px;
	left: 0;
	border-left:0px;
}
.yarlik_r > p,.yarlik_l > p {
	font-weight: 600;
	line-height: 143.4%;
	letter-spacing: 0.145em;
	color: #FFFFFF;
	padding: 20px 35px 20px 35px;
}
/*Ярлыки конец*/
/*Блок в чем наши преимущества*/
.text__i{
	font-weight: bold;
	line-height: 140%;
	letter-spacing: 0.145em;
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
	color: #FFFFFF;
}
.advantages__item{
	max-width: 145px;
	padding: 10px;
}
.advan__icon-item{
	width: 124px;
	height: 124px;
}
.advan__text-item{
	padding-top: 10px;
	width: max-content;
}
/*конец блока преимуществ*/
/*Третий слайд*/
.pro__roibee{

}

/*Третий слайд конец*/
/*Footer*/
.footer{
	min-height: 110px;
	@apply relative flex items-center justify-center;
}
.footer > p, p > a {
	color: #FFFFFF;
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 143.4%;
	letter-spacing: 0.03em;
}
.footer::before{
	content: "";
	height: 2px;
	width: 96%;
	position: absolute;
	top:0;
	background-color: white;
}

/*Footer end*/
/*Skills*/
.mh370{
	min-height: 370px;
	margin-top: 10vh;
}
.skills__item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	justify-content: space-between;
	color: #FFFFFF;
	font-style: normal;
	left:calc(15px + 25 var(--adaptive));
	right:calc(15px + 25 var(--adaptive));
}
.skills__elem{
	position: relative;
	min-width: 320px;
	flex-grow: 1;
    width: 33%;
    max-width: 390px;
}
.skills__head{
	position: relative;
}
.skills__head::after{
	content: "";
	height: 5px;
	width: 100%;
	border-radius: 2.5px;
	background-image: linear-gradient(90.01deg, #4838FF 0%, #B510EF 101.32%);
	position: absolute;
}
.skills__head > p {
	font-weight: 900;
	letter-spacing: 0.035em;
	padding-bottom: 16px;
}
.skills__block{
	padding: 20px;
	background-color: var(--dark);
	border-radius: 20px;
	/*box-shadow: 0 0 30px 30px var(--dark);
	/*box-shadow: 0px 0px 15px 21px rgb(181 16 239 / 48%);*/
}
.skills__view-text > p,.skills__hide-text > li{
	font-weight: 500;
	letter-spacing: 0.145em;
	padding-top: 25px;
}
.skills__view-text{
	background-color: transparent;
	overflow: hidden;
	position: relative;
}
.skills__view-text::after{
	content: "";
	position: absolute;
	bottom: 25px;
	width: 100%;
	height: 5px;
	border-radius: 2.5px;
	background-image: linear-gradient(90.01deg, #4838FF 0%, #B510EF 101.32%);
	z-index: 0;
}
.skills__hide-text{
	max-height: 50px;
	transition: max-height 300ms ease;

}
.skills__hide-text > li{
	opacity: 0;
	transition: opacity 300ms ease;
	background-color: transparent;
}
.skills__hide-text > li:first-child{
	opacity: .40;
}

.skills__btn{
	border-radius: 32px;
	width: 50px;
	height: 50px;
	z-index: 1;
}
/*Skills end*/
/*PopUp All*/
.popup__all{
	@apply fixed inset-0 invisible w-screen overflow-y-scroll transition-all duration-300 opacity-0;
	background-color: var(--dark);
	z-index: 2;
}
.popup__all > div{
	opacity:0;
	transition: opacity 300ms linear 300ms;
}
.popup__all::-webkit-scrollbar{width: 0;}
.popup__all {-ms-overflow-style: none;overflow: -moz-scrollbars-none;}
.close__btn{
	@apply fixed flex opacity-0 w-max;
	top:-100px;
	right:-100px;
	z-index: 3;
	transition: all 300ms ease;
	border-radius:0 0 0 45px;
    height: max-content;
    padding:10px 10px 20px 20px;
}
.close__btn > span{
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjEuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjI0LjUxMiAyMjQuNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMjQuNTEyIDIyNC41MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwb2x5Z29uIHN0eWxlPSJmaWxsOiNGRkZGRkY7IiBwb2ludHM9IjIyNC41MDcsNi45OTcgMjE3LjUyMSwwIDExMi4yNTYsMTA1LjI1OCA2Ljk5OCwwIDAuMDA1LDYuOTk3IDEwNS4yNjMsMTEyLjI1NCANCgkJMC4wMDUsMjE3LjUxMiA2Ljk5OCwyMjQuNTEyIDExMi4yNTYsMTE5LjI0IDIxNy41MjEsMjI0LjUxMiAyMjQuNTA3LDIxNy41MTIgMTE5LjI0OSwxMTIuMjU0IAkiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K");
    width: 30px;
    height: 30px;
    @apply bg-no-repeat bg-contain;
}
/*PopUp All end*/
/*Swiper*/
.lock-swiper > .swiper-wrapper {
	transform: none !important;
}
.swiper-button-next:active,.swiper-button-prev:active,.swiper-button-next:focus,.swiper-button-prev:focus {
	@apply outline-none;
}
/*Swiper end*/
/*Форма*/
.mb-70px{
	margin-bottom: 70px;
}
.form__area:focus:valid{
	border:1px solid green;
}
.form__area:focus:invalid{
	border:1px solid red;
}
.form__area{
	max-width: 584px;
	height: 55px;
	background-color: var(--dark);
	border: 1px solid #FFFFFF;
	border-radius: 50px;
	padding: 14px 43px;
	margin: 0 auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 143.4%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	outline:none;
	transition: border 300ms ease;
}
.form{
	width: max-content;
	margin: auto;
	max-width: 100%;
	position: relative;
	text-align: center;
	transition: opacity 300ms ease;
}
.form__btn{
	margin: 0 auto;
	outline:none;
	background: linear-gradient(180deg, #27ABFF 0%, #27ABFF 0.01%, #9918FF 100%) !important;
	border-width: 0;
}
.form > * {
	margin-bottom: 22px;
}
.send__form{
	font-weight: 500;
	font-size: 18px;
	line-height: 143.4%;
	letter-spacing: 0.03em;
	z-index: -1;
	max-width: 584px;
	transition: opacity 300ms ease;
}

/*Форма конец*/
/**/
.process__progress{
	position: absolute;
	height: 14px;
	width: 100%;
	border: 1px solid #FFFFFF;
	border-radius: 7px;
	position: relative;
	margin-bottom: 10px;
}
.process__progress > div{
	position: absolute;
	height: 100%;
	top: 4px;
	left: 4px;
	border-radius: inherit;
	background-image: linear-gradient(180deg,var(--fiol) 0,var(--purp) 100%);
	transition: width 0.3s ease 0.2s;
}
.process__punkts{
	counter-reset: num;

}

.process__punkts > li::before {
	counter-increment: num;
    content: counter(num) '. ';
}
/**/
.sotabg{
	position: absolute;
	top:40%;
	background-size: contain;
	padding-top: 25%;
	max-width: 60%;
	min-width:35%;
	background-repeat: no-repeat;
	z-index:-1;
	transform: rotate(-23.95deg);
    left: 0;
}
.circlebg{
	position: absolute;
	top:35%;
	background-size: contain;
	padding-top: 22%;
	max-width: 60%;
	min-width:22%;
	background-repeat: no-repeat;
	z-index:-1;
    right:5vw;
}
.pryamougolbg1{
	position: absolute;
	top: 70%;
	background-size: contain;
	padding-top: 32%;
	max-width: 60%;
	min-width:25%;
	background-repeat: no-repeat;
	z-index:-1;
    left: 0;
}
.pryamougolbg2{
	position: absolute;
	top: 66%;
	background-size: contain;
	padding-top: 40%;
	max-width: 60%;
	min-width:35%;
	background-repeat: no-repeat;
	z-index:-1;
    right: 0;
}
/*li::before {
	counter-increment: num;
    content: counter(num) '. ';
   }*/
/*Сдержимое popupa*/

.footer__popup-bg{
	background-size: auto 160px;
}
.name__uslug{
	height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
	padding-bottom: 16px;
	font-weight: bold;
	line-height: 120%;
	letter-spacing: 0.145em;
	text-shadow: 0px 0px 4px rgba(75, 183, 255, 0.25);
	position: relative;
}
.name__uslug > p{
	background: linear-gradient(90deg, #55D6FF 0%, #336CFF 96.38%);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip: text;
}
.name__uslug::before{
	content: "";
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 96%;
	background: linear-gradient(90deg, #55D6FF 0%, #336CFF 96.38%);

}
.text__popup-uslug{
	text-align: center;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0.145em;
	margin-top: 40px;
}
.block__uslug-popup{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.min-w50{
	min-width: 50%;
}
.img__popup-countainer{
	max-width: 645px;
}
.img__popup-uslug{
	padding-top: 73%;
	background-image: url(/images/image/rocket.png);
	background-size: cover;
	background-repeat: no-repeat;

}
.popup__punkts{
	height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	min-height: 300px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.145em;
	min-height:300px;
}
.punkts__button{
	display: flex;
	flex-direction: column;
	padding: 5vh 4vw 2vh 4vw;
}
.column__popup{
	counter-reset: num;
	list-style-type: none;
	display:flex;
	flex-wrap: wrap;
}
.column__popup > li {
	flex-grow: 1;
	width:33%;
	padding:25px;
	min-width: 310px;
	font-weight: 900;
	line-height: 120%;
	letter-spacing: 0.05em;
}
.column__popup > li > p {
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.05em;
	padding: 2vw 0 0 2vw;
}
.column__popup > li::before {
	counter-increment: num;
    content: counter(num) '. ';
}
/*Конец*/
