<footer>
    <div class="min-h-[100px] container mx-auto relative flex items-center justify-center text-white text-center font-light text-sm tracking-widest before:h-0.5 before:w-[96%] before:absolute before:top-0 before:bg-white">
        <p>© RoiBee 2020<br><a href="#">Политика конфиденциальности</a> | <a href="#">Все права защищены</a></p>
    </div>
</footer>