{% import "components/buttons.njk" as elButton %}
{% import "components/form-item.njk" as elInput %}
{% set links = [
        {
            "linkText": "#",
            "linkIcon": "vk-icon"
        },
        {
            "linkText": "#",
            "linkIcon": "twitter-icon"
        },
        {
            "linkText": "#",
            "linkIcon": "instagram-icon"
        }
    ] 
%}
{% set button = [
        {
            "alpine": true,
            "alpineObjectName": "brief = true",
            "class": "",
            "buttonText": "Заполните бриф"
        },
        {
            "alpine": true,
            "alpineObjectName": "brief = false",
            "class": "absolute right-0 top-0 translate-x-[185%] -translate-y-[20%]",
            "icon": true,
            "svgClass": "w-10 h-10 text-white",
            "svg": "close"
        }
    ] 
%}
{% set formInput = [
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        },
        {
            "type" : "text",
            "name" : "182812218",
            "placeholder" : "Назание компании",
            "necessarily" : true
        }
    ] 
%}
<section>
    <div class="container w-full px-5 mx-auto">
        <div class="flex-wrap h-screen">
            <div 
            x-data="{brief : false}" 
            class="grid grid-cols-2 w-full min-h-[80%]">
                <div class="flex flex-col max-h-[80vh] h-[80vh] ml-0 py-10 justify-evenly">
                    <div>
                        <p class="text-3xl font-bold uppercase text-shadow-base">Студия веб-дизайна</p>
                        <p class="font-medium text-2xl leading-[140%] tracking-[0.035em]">Минимализм и удобство!</p>
                    </div>
                    {% for item in button %}
                        {% if loop.first %}
                            {{ elButton.buttonDefoult(item.alpine, item.alpineObjectName, item.class, item.icon, item.svgClass, item.svg, item.buttonText) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div 
                    x-show="brief"
                    x-transition
                    class="fixed inset-0 z-50 w-full h-full bg-cod-gray lozad"
                >
                    <div class="container relative p-5 mx-auto">
                        {% for item in button %}
                            {% if loop.index == 2 %}
                                {{ elButton.buttonDefoult(item.alpine, item.alpineObjectName, item.class, item.icon, item.svgClass, item.svg, item.buttonText) }}
                            {% endif %}
                        {% endfor %}
                        <h1 class="mb-5 text-3xl text-center">Заполните форму</h1>
                        <form class="grid grid-cols-3 gap-5 mx-auto max-w-max">
                            {% for item in formInput %}
                                {{ elInput.inputDefault(item.type, item.name, item.placeholder, item.necessarily) }}
                            {% endfor %}
                        </form>
                    </div>
                </div>
                <div class="relative grid grid-cols-1a">
                    <div class="max-h-[525px] w-full bg-center my-auto bg-no-repeat h-full bg-contain lozad" data-background-image="/images/image/imac.png">
                    </div>
                    <div class="my-auto">
                        <span class="absolute w-1.5 bg-white top-3 rounded-b-md h-[200px] right-4"></span>
                        <span class="absolute w-1.5 bg-white bottom-3 rounded-t-md h-[200px] right-4"></span>
                        <div class="grid gap-y-5 max-w-max">
                            {% for item in links %}
                                <button class="relative transition-all duration-300 hover:opacity-75">
                                    <svg class="w-10 h-10 text-white">
                                        <use xlink:href="/images/icons/all-icon.svg#{{ item.linkIcon }}"></use>
                                    </svg>
                                    <a href="{{ item.linkText }}" rel="nofollow" class="absolute inset-0"></a>
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-span-2 mx-auto podrobnee adaptive__font16">
                    <p>Подробнее</p>
                    <a href="#podr">
                        <div class="podrobnee__btn circle__btn btn_fiol">
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="podr"></div>
</section>