<section class="mt-20">
    <div class="container px-5 mx-auto">
        <div class="text-2xl font-bold leading-snug tracking-normal text-center text-white">
            <p>В чём наши преимущества?</p>
        </div>
        <div class="flex flex-wrap justify-around mt-10">
            {% for item in benefits.benefits %}
                <div class="flex flex-col items-center text-center min-w-[145px] h-[124px]">
                    <img class="w-28 h-28" src="/images/icons/iconadvan.svg">
                    <div class="text-base pt-[10px] w-max">
                        <p>
                            С нами<br> {{ item.text }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>