<header>
	<div class="container mx-auto">
		<ul class="flex items-center justify-between text-white">
			<li><img src="images/image/logo.jpg" alt="logo.jpg"></li>
			<li class="grid grid-cols-1a gap-x-2">
				<svg class="h-10 w-7">
					<use xlink:href="/images/icons/all-icon.svg#mark"></use>
				</svg>
				<div class="grid grid-rows-2">
					<span>Москва, 1-й Партийный пер., 1, стр 57, к. 3.</span>
					<span>Мытищи, Летная 40к1 домофон 1.</span>
				</div>
			</li>
			<li class="grid grid-cols-1a gap-x-2">
				<svg class="w-10 h-10">
					<use xlink:href="/images/icons/all-icon.svg#phone"></use>
				</svg>
				<div class="grid grid-rows-2">
					<span>+7 (777) 707-37-97</span>
					<span>Написать нам в What’s app</span>
				</div>
			</li>
		</ul>
	</div>
</header>
