<header class="bg-cover" >
	<div class="container mx-auto flex justify-between p-[27px] items-center">
		<div class="grid items-center justify-center grid-rows-2">
			<span class="text-[28px] font-semibold text-center text-white">D C E</span>
			<span class="relative -translate-y-[16px] text-xs text-white">Decor Color Expert</span>
		</div>
		<div>
			<ul class="grid grid-flow-col gap-x-5">
				<li class="text-white">
					<a href="#">Главная</a>
				</li>
				<li class="text-white">
					<a href="#">Портфолио</a>
				</li>
				<li class="text-white">
					<a href="#">Каталог</a>
				</li>
				<li class="text-white">
					<a href="#">Блог</a>
				</li>
				<li class="text-white">
					<a href="#">Контакты</a>
				</li>
			</ul>
		</div>
		<div class="flex space-x-5">
			<span class="text-white">+7 495 178 57 17 </span>
			<span class="text-white">Обратный звонок</span>
		</div>
	</div>
	<div class="container mx-auto ">
		<div class="flex items-center justify-center h-36">
			<div class="">
				<h1 class="text-white text-[56px] leading-[130%]  font-semibold">Нанесение декоративных штукатурок<br> премиум сегмента в современном стиле </h1>
			</div>
		</div>
		<div class="flex items-center justify-center flex-wrap w-[512px] h-[131px] bg-white rounded-[20px]">
			<svg class="w-[44px] h-[44px]">
				<use xlink:href="/images/icons/all-icon.svg#box"></use>
			</svg>
			<p>Наши клиенты получают скидку 10% на материалы</p>
		</div>
	</div>
</header>
