<header>
    <div class="container flex items-center justify-between px-12 py-6 mx-auto sm:px-1">
        <button class="w-[162px] relative hover:animate-pulse h-[37px] icon-logo sm:h-10">
            <a class="absolute indent-0" href="#"></a>
        </button>
        <div class="grid items-center grid-cols-2 gap-x-10">
            <button class="grid items-center grid-flow-col pr-3 transition-all duration-300 rounded-full 2xs:invisible md:visible hover:bg-white gap-x-4 max-w-max group">
                <div class="flex items-center justify-center w-12 h-12 transition-all duration-300 rounded-full bg-white/10">
                    <svg class="w-5 h-7 text-shuttle-gray group-hover:text-black">
                        <use xlink:href="/images/icons/all-icon.svg#tel"></use>
                    </svg>
                </div>
                <p class="text-white transition-all duration-300 group-hover:text-black ">+38 (097) 970-90-90</p>
            </button>
            <button class="grid items-center grid-flow-col pr-3 transition-all duration-300 rounded-full hover:bg-white gap-x-4 max-w-max group">
                <div class="flex items-center justify-center w-12 h-12 transition-all duration-300 rounded-full bg-white/10">
                    <svg class="w-5 h-7 text-shuttle-gray group-hover:text-black">
                        <use xlink:href="/images/icons/all-icon.svg#marcker-map"></use>
                    </svg>
                </div>
                <p class="transition-all duration-300 text-tree-poppy 2xs:hidden lg:block group-hover:text-black">м.Лубянка</p>
            </button>       
        </div>
        <div class="grid grid-cols-2 max-w-max gap-x-6 2xs:hidden lg:block">
            <button class="relative h-10 min-w-[100px] w-full text-xs font-semibold text-white bg-transparent rounded-full max-w-max ring-1 ring-white/30 ">
                <span>наши залы</span>
                    <a href="#" class="absolute inset-0"></a>
            </button>
            <button class="relative h-10 min-w-[100px] w-full text-xs font-semibold bg-white rounded-full max-w-max">
                <span>забронировать</span>
                    <a href="#" class="absolute inset-0"></a>
            </button>
            <span class="after:left-0 after:w-9 after:h-1 after:bg-tree-poppy after:absolute">
            </span>
            <span class="before:left-0 before:w-9 before:h-1 before:bg-tree-poppy before:absolute">
            </span>
        </div>
    </div>
</header>