<section>
	<div class="container mx-auto ">
		<div>
			<img class="translate-x-1/2 rounded-t-full absolute z-[-1]" src="images/image/boxer.jpg" alt="boxer.jpg">
			<div class="grid grid-rows-3 pt-20 font-bold text-white gap-y-40">
				<p class="text-xl">Bodao team команда <br>профессионального бойца <br>ММА из Бразилии</p>
				<h1 class="text-center text-7xl ">
					Франсимара Бодао Барросо
				</h1>
				<div class="flex items-center justify-between grid-cols-2">
					<p>У Бодао более 50 проф поединков за плечами,<br>он проводил бои в лучших лигах ММА мира, 5<br>лет в UFC и 3 года в PFL. И теперь он открыл<br>свои клубы в России что бы поделиться с<br>вами своим опытом.</p>
					<button class="grid items-center justify-center w-56 rounded-r-full h-14 bg-casablanca grid-cols-a1">
						<svg class="w-6 h-3 text-white ">
							<use xlink:href="/images/icons/all-icon.svg#rigt-arrow"></use>
						</svg>
						Записаться
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
